[submodule "build"]
	path = build
	url = https://chromium.googlesource.com/chromium/src/build
[submodule "tools/gyp"]
	path = tools/gyp
	url = https://chromium.googlesource.com/external/gyp
[submodule "third_party/icu"]
	path = third_party/icu
	url = https://chromium.googlesource.com/chromium/deps/icu.git
[submodule "third_party/instrumented_libraries"]
	path = third_party/instrumented_libraries
	url = https://chromium.googlesource.com/chromium/src/third_party/instrumented_libraries.git
[submodule "base/trace_event/common"]
	path = base/trace_event/common
	url = https://chromium.googlesource.com/chromium/src/base/trace_event/common.git
[submodule "third_party/jinja2"]
	path = third_party/jinja2
	url = https://chromium.googlesource.com/chromium/src/third_party/jinja2.git
